<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${info}"></p>
<form th:action="@{/register}" method="post" th:object="${registerForm}">
Login: <input type="text" th:field="*{login}" th:name="login"><p></p>
Hasło: <input type="password" th:field="*{password}" th:name="password"><p></p>
Powtórz hasło: <input type="password" th:field="*{passwordRepeat}" th:name="passwordRepeat"><p></p>
    <input type="submit" value="Wyślij">
</form>
</body>
</html>