<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center><h1  th:text="${info}" th:style="'color:' + ${infocolor}"></h1></center>
<form th:action="@{/vehicle}" method="post" th:object="${vehicleForm}">

    <p th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"></p>
Marka: <input type="text" th:field="*{mark}"><p></p>
    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p>
Model: <input type="text" th:field="*{model}"><p></p>
    <p th:if="${#fields.hasErrors('productionYear')}" th:errors="*{productionYear}"></p>
Rok produkcji: <input type="text" th:field="*{productionYear}" ><p></p>
    <input type="submit" value="Wyślij">
</form>
</body>
</html>